<div class="container">
    <div class="row">
      <div class="col p-3">
        <h3 class="border-bottom"><strong>マイページ</strong></h3>
      </div>
    </div>
<<<<<<< HEAD
  </div>
  <div class="d-flex align-items-center mt-3">
      <h5><strong>登録情報</strong></h5>
      <%= link_to "編集する", customers_information_edit_path, class: 'button-39' %>
  </div>
  <table class="table table-bordered">
    <tr>
      <th>氏名</th><td><%= @customer.last_name %> <%= @customer.first_name %></td>
    </tr>
=======
    <div class="d-flex align-items-center mt-3">
        <h5><strong>登録情報</strong></h5>
        <%= link_to "編集する", customers_information_edit_path, class: 'btn btn-light btn-sm' %>
    </div>
    <table class="table table-bordered">
      <tr>
        <th>氏名</th><td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
>>>>>>> origin/develop

      <tr>
        <th>カナ</th><td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <th>郵便番号</th><td><%= @customer.zip_code %></td>
      </tr>
      <tr>
        <th>住所</th><td><%= @customer.address %></td>
      </tr>
      <tr>
        <th>電話番号</th><td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th><td><%= @customer.email %></td>
      </tr>
    </table>

<<<<<<< HEAD
  <div class="d-flex align-items-center mt-5">
      <h5><strong>配送先</strong></h5>
      <%= link_to "一覧を見る", addresses_path, class: 'button-39' %>
  </div>

  <div class="d-flex align-items-center mt-5">
      <h5><strong>注文履歴</strong></h5>
      <%= link_to "一覧を見る", orders_path, class: 'button-39' %>
  </div>
=======
    <div class="d-flex align-items-center mt-5">
        <h5><strong>配送先</strong></h5>
        <%= link_to "一覧を見る", addresses_path, class: 'btn btn-light btn-sm' %>
    </div>

    <div class="d-flex align-items-center my-5">
        <h5><strong>注文履歴</strong></h5>
        <%= link_to "一覧を見る", orders_path, class: 'btn btn-light btn-sm' %>
    </div>
>>>>>>> origin/develop
</div>