<h1>商品詳細</h1>
<%= image_tag @item.get_image(300,300) %>
<div>
  <p>商品名：<%= @item.name %></p>
  <p>商品説明：<%= @item.caption %></p>
  <p>ジャンル：<%= @item.genre.name %></p>
  <p>税込価格：<%= @item.add_tax_price.to_s(:dalimited) %>円</p>
  <p>販売ステータス：<%= @item.is_active %></p>
</div>
<p><%= link_to "編集する", edit_admin_item_path %></p>
