<div class="container">
  <div class="row py-4">
    <div class="col">
      <h3 class="border-bottom"><strong>管理者ログイン</strong></h3>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col mt-3 ">
    <%= form_with model: @admin, url: admin_session_path do |f| %>

      <div class="row">
        <h5 class="col-3 ml-3">
          <%= f.label :email, "メールアドレス" %>
        </h5>
        <div class="col-5 md-1">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      </div>

      <div class="row mt-4">
        <h5 class="col-3 ml-3">
          <%= f.label :password, "パスワード" %>
        </h5>
        <div class="col-5 md-1">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="row justify-content-center">
          <h6 class="text-center">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </h6>
        </div>
      <% end %>

      <div class="row justify-content-center pb-3">
        <h5 class="actions mt-2 text-center">
          <%= f.submit "ログイン" %>
        </h5>
      </div>
    <% end %>
    </div>
  </div>
</div>