<div class="container">
  <h4 style="background-color:#d3d3d3">注文履歴詳細</h4>

<div class="main">
  <p>購入者：<%= @order.full_name %></p>
  <p>注文日：<%= @order.created_at.strftime('%Y/%m/%d') %></p>
  <p>配送先：<%= @order.full_address %></p>
  <p>支払方法：<%= @order.payment_method_text %></p>
  <p>注文ステータス：<%= form_with model: @order,url: admin_order_path do |f| %>
                     <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
                     <%= f.submit '更新' %>
                     <% end %>
  </p>
</div>
  <div class="row">  
  <div class="col-6">
  <table class='table table-hover table-inverse'>
   <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </tr>
   </thead>
   <tbody>
     <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.unit_price %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.item.subtotal %></td>
        <td><%= form_with model: @order,url: admin_order_path do |f| %>
            <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
            <%= f.submit '更新' %>
            <% end %>
        </td>
      </tr>
     <% end %>
    </tbody>
   </table>
   </div>
   <div class="col-6">
  <% if @order_details.present? %>
    <p>合計金額: <%= @合計金額 %></p>
    <p>送料：<%= @order_details.first.postage %></p>
    <p>請求金額：<%= @order_details.first.billing_amount %></p>
  <% else %>
    <p>注文詳細データが存在しません</p>
  <% end %>
   </div>
  </div>
 </div>
</div>

