<h1>注文履歴詳細</h1>

<div>
  <p>購入者：<%= @order.full_name %></p>
  <p>注文日：<%= @order.created_at %></p>
  <p>配送先：<%= @order.full_address %></p>
  <p>支払方法：<%= @order.payment_method_text %></p>
  <p>注文ステータス：<%= form_with model: @order,url: admin_order_path do |f| %>
                     <%= f.select :status, Order.statuses.keys.to_a, {}, class: 'form-control' %>
                     <%= f.submit '更新' %>
                     <% end %>
  </p>
</div>

  <table class='table table-hover table-inverse'>
   <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </tr>
   </thead>
   <tbody>
      <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.name %></td>
        <td><%= cart_item.subtotal %></td>
        <td><%= cart_item.amount %></td>
        <td><%= cart_item.item.add_tax_price %></td>
        <td><%= form_with model: @order,url: admin_order_path do |f| %>
            <%= f.select :making_status, Order.making_statuses.keys.to_a, {}, class: 'form-control' %>
            <%= f.submit '更新' %>
            <% end %>
        </td>
      </tr>
     <% end %>
    </tbody>
   </table>
   
   <p><%= cart_item.item.add_tax_price %></p>
   <p><%= cart_item.subtotal %></p>
   <p><% @合計金額 +=  cart_item.subtotal %></p>
   
   
