<h1>注文履歴詳細</h1>

<div>
  <p>購入者：<%= @order.full_name %></p>
  <p>注文日：<%= @order.created_at %></p>
  <p>配送先：<%= @order.full_address %></p>
  <p>支払方法：<%= @order.payment_method_text %></p>
  <%= form_with model: @order,url: admin_orders_path do |f| %>
  <p>注文ステータス：<%= f.select :status, options_from_collection_for_select(Order.all, :id, :order_display) %></p>
  <%= f.submit '新規登録' %>
</div>

