 <h3>配送先登録/一覧</h3>
 

      <%=form_with model: @address,url: addresses_path, method: :post do |f| %>
    <table class='table table-hover table-inverse'>
        <td><%= f.label :zip_code, "郵便番号（ハイフンなし）", class: "mr-3" %></td>
        <td><%= f.text_field :zip_code, class: "mr-5" %></td>
        <td><%= f.label :shipping_address, "住所", class: "mr-3" %></td>
        <td><%= f.text_field :shipping_address, class: "mr-5" %></td>
        <td><%= f.label :shipping_name, "宛名", class: "mr-3" %></td>
        <td><%= f.text_field :shipping_name, class: "mr-5" %></td>
       
        <td><%= f.submit'新規登録',class: "btn btn-primary" %></td>
    </table>
      <% end %>
          
     <h4>ジャンル一覧</h4>
    <table class='table table-hover table-inverse'>      
      <thead>
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
  
        <% @addresses.each do |address| %>
        <tr>
          <td><%= address.zip_code %></td>
          <td><%= address.shipping_address %></td>
          <td><%= address.shipping_name %></td>
          <td><%= link_to "編集する", edit_address_path(address.id), class: "btn-success" %></td>
          <td><%= link_to '削除する', addresses_path(address.id), method: :delete, class: "btn btn-sm btn-danger" %></td>
        </tr>
          <%end%>
       </table>

