
<!--カートないアイテム-->
<div class="container">
  <div class="row" style="margin:15px 0 ;">
    <div class="col-5" >
      <h3>ショッピングカート</h3>
    </div>

    <div class="col-7 text-right">
      <% if @cart_items.exists? %>
        <%= link_to "カートを空にする", cart_items_destroy_all_path, class: "button-39", method: :delete, "data-confirm" => "本当に空にしますか？" %>
      <% end %>
    </div>
  </div>


  <div class="mb-3">
    <% if @cart_items.exists? %>
      <table border="1" bordercolor="white"> 
        <!--テーブルトップ-->
        <tr>
          <td width="25%">商品名</td>
          <td width="10%">単価（税込）</td>
          <td width="10%">数量</td>
          <td width="10%">小計</td>
          <td width="10%"></td>
        </tr>
        <!--おしまい-->

        <!--カートない商品について-->
        <% @cart_items.each do |cart_item| %>
        <!--くりかえしごとにほしい商品情報をとりだす-->
        <% item = Item.find(cart_item.item_id) %>
        <!--合計表示用--空の配列に値段を入れていく-->
        <% @total_amount << (item.price * 1.10).round * cart_item.amount %>

          <tr>
            <th><%= image_tag item.get_image(100,100) %><%= item.name %></th>

            <td><%= (item.price * 1.10).round.to_s(:delimited) %></td>

            <td>
              <%=form_with model: cart_item do |f| %>
                <% if cart_item.amount < 20%>
                  <%= f.select :amount, *[1..20] %>
                <% else %>
                  <%= f.select :amount, *[1..((cart_item.amount + 20).floor(-1))] %>
                <% end %>
                <%= f.submit"変更", class: "button-39" %>
              <% end %>
            </td>

            <td><%= ((item.price * 1.10).round * cart_item.amount).to_s(:delimited) %></td>

            <td><%= link_to "削除する",cart_item_path(cart_item.id), class: "button-39", method: :delete %></td>
          </tr>
        <% end %>
        <!--おしまい-->
      </table>
    <% else %>
      <h1>カート内の商品はありません</h1>
    <% end %>
  </div>


  <div class="row">
    <div class="col-4">
      <%= link_to "買い物を続ける", root_path, class: "button-39" %>
    </div>

    <div class="col-8 row justify-content-end">
      <% if @cart_items.exists? %>
        <table border="1" bordercolor="white">
          <tr>
            <td>合計金額</td>
            <td><%= (@total_amount.sum).to_s(:delimited) %>円</td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center py-4">
      <% if @cart_items.exists? %>
        <%= link_to "情報入力に進む" ,new_order_path, class: "button-39" %>
      <% end %>
    </div>
  </div>
</div>
<!--おしまい-->

