<div class="container">
  <div class="row m-3">
    <div class="col-md-12">
      <h3 class="border-bottom"><strong>注文情報確認</strong></h3>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-auto">
      <table class="table">
        <tr>
          <td></td>
          <td>商品名</td>
          <td>単価(税込)</td>
          <td>数量</td>
          <td>小計</td>
        </tr>

        <% @sum = 0 %>

        <% @cart_items.each do |cart_item| %>

          <tr>
            <td>
              <%= image_tag cart_item.item.get_image(100,80) %>
            </td>
            <td>
              <strong><%= cart_item.item.name %></strong>
            </td>
            <td><%= cart_item.item.add_tax_price %></td>
            <td><%= cart_item.amount %></td>
            <% @sum += cart_item.subtotal %>
            <td><%= @sum %></td>
          </tr>
        <% end %>
      </table>

      <table>
        <tr>
          <td>送料</td>
          <td>800</td>
        </tr>
        <tr>
          <td>商品合計</td>
          <td><%= @sum %></td>
        </tr>
        <tr>
          <td>請求金額</td>
          <td><%= @sum + 800 %></td>
        </tr>
      </table>

      <table class="table">
        <tr>
          <th>支払い方法</th>
          <td><%= @order.payment_method_i18n%></td>
        </tr>
        <tr>
          <th>お届け先</th>
          <td>
            〒<%= @order.zip_code %>&nbsp;
            <%= @order.shipping_address %>&nbsp;
            <%= @order.shipping_name %> 様
          </td>
        </tr>
      </table>

      <%= form_with model: @order_new , url: "/orders" , local:true do |f| %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.hidden_field :payment_method, value:  @order.payment_method %>
        <%= f.hidden_field :postage, value: 800 %>
        <%= f.hidden_field :zip_code, value: @order.zip_code %>
        <%= f.hidden_field :billing_amount, value: @sum + 800%>
        <%= f.hidden_field :shipping_address, value: @order.shipping_address%>
        <%= f.hidden_field :shipping_name, value: @order.shipping_name %>
        <%= f.hidden_field :status, value: "unpaid"%>
        <%= f.submit "注文を確定する", class:"button-39" %>
      <% end %>
    </div>
  </div>
</div>
