
<div class="container p-2">
  <div class= "row">
    <div class= "col-md-3 mt-5">
      <!--ジャンル一覧（ジャンル検索機能-->
      <%= render "genre_list", genres: @genres %>
      <!--おしまい-->
    </div>

    <div class="col-md-8 offset-md-1">
      <div class="mx-auto mt-5 mb-5">
        <!--商品詳細-->

          <div class="row">
            <div class="col-4">
              <%= image_tag @item.get_image(150,150) %>
            </div>

            <div class="col-8">
              <h5><%= @item.name %></h5>
              <table>
                <tr>
                  <td>
                    <%= @item.caption %><br>
                    ¥<%= (@item.price * 1.10).round %>(税込)
                  </td>
                </tr>
              </table>
            </div>
          </div>
        <!--おしまい-->

        <!--カートに入れるところ-->
        <%=form_with model: @cart_item do |f| %>
          <table>
            <tr>
              <td>購入数選択</td>
            </tr>
            <tr>
              <td>
                <%= f.select :amount, *[1..20] %>
                <!--hidden_field-->
                <%= f.hidden_field :item_id,:value => @item.id %>
              </td>
              <td><%= f.submit"カートに入れる", class: 'button-39' %></td>
            </tr>
          </table>
        <% end %>
        <!--おしまい-->
      </div>
    </div>
  </div>
</div>






