<!--ジャンル一覧（ジャンル検索機能-->
<div>
  <%= render "genre_list", genres: @genres %>
</div>
<!--おしまい-->

<!--商品詳細-->
<div>
  <table>
    <tr>
      <td><%= image_tag @item.get_image(150,150) %></td>
      <td>
        <strong><%= @item.name %></strong><br>
        <%= @item.caption %><br>
        <%= (@item.price * 1.10).round %>
      </td>
    </tr>
  </table>
</div>
<!--おしまい-->

<!--カートに入れるところ-->
<table>
  <%=form_with model: @cart_item do |f| %>
    <tr>
      <td>購入数選択</td>
    </tr>
    <tr>
      <td><%= f.select :amount, *[1..10] %></td>
      <td><%= f.submit"カートに入れる" %></td>
    </tr>
  <% end %>
</table>
<!--おしまい-->