
<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8ad5b3c4dc.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap" rel="stylesheet">

  </head>

  <body class ="d-flex flex-column vh-100">
    <header class="header m-3">
      <nav class="navbar-nav">
        <div class="container">
          <div class="row">
          <a class="navbar-brand mr-auto" href="/"><span><%= image_tag 'logo-sample3.jpg', size:'200x60'%></span></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!--<div class="collapse navbar-collapse" id="navbarNavDropdown">-->
          <div class="row">
            <ul class="navbar-nav ml-auto d-flex flex-row">

            <% if admin_signed_in? %>
              <% if request.fullpath.include? "/admin" %> <!--admin側のheader-->
                <li class="nav-item"><%= link_to "商品一覧", admin_items_path, class: 'button-81' %></li>&nbsp;
                <li class="nav-item"><%= link_to "会員一覧", admin_customers_path, class: 'button-81' %></li>&nbsp;
                <li class="nav-item"><%= link_to "注文履歴一覧", admin_path, class: 'button-81' %></li>&nbsp;
                <li class="nav-item"><%= link_to "ジャンル一覧", admin_genres_path, class: 'button-81' %></li>&nbsp;
                <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'button-81' %></li>
              <% else %> <!--customer側のheader-->
              <li class="nav-item"><%= link_to "マイページ", customers_mypage_path, class: 'button-81' %></li>&nbsp;
              <li class="nav-item"><%= link_to "商品一覧", items_path, class: 'button-81' %></li>&nbsp;
              <li class="nav-item"><%= link_to "カート", cart_items_path, class: 'button-81'%></li>&nbsp;
              <li class="nav-item"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'button-81' %></li>
              <% end %>
            <% elsif customer_signed_in? %>
              <li class="nav-item"><%= link_to "マイページ", customers_mypage_path, class: 'button-81' %></li>&nbsp;
              <li class="nav-item"><%= link_to "商品一覧", items_path, class: 'button-81' %></li>&nbsp;
              <li class="nav-item"><%= link_to "カート", cart_items_path, class: 'button-81'%></li>&nbsp;
              <li class="nav-item"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'button-81' %></li>
            <% else %>
              <li class="nav-item"><%= link_to "About", homes_about_path, class: 'button-81' %></li>&nbsp;
              <li class="nav-item"><%= link_to "商品一覧", items_path, class: 'button-81' %></li>&nbsp;
              <li class="nav-item"><%= link_to "新規登録", new_customer_registration_path, class: 'button-81' %></li>&nbsp;
              <li class="nav-item"><%= link_to "ログイン", new_customer_session_path, class: 'button-81' %></li>
            <% end %>
            </ul>
          </div>
          </div>

          <div class="row">
            <div class="col-5 ">
              <% if customer_signed_in? %>
                <p class="m-1">ようこそ、<%= current_customer.last_name %> 様</p>
              <% end %>
            </div>

            <div class="col-7 text-right">
              <%= render "layouts/search" %>
            </div>
          </div>
          <!--</div>-->
        </div>
      </nav>
    </header>
    <main>
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row justify-content-cencer mt-5">
          <div class="col text-align:right">
          <p>Nagano Cake<br>
             &ensp; <i class="fab fa-instagram"></i> &ensp;<i class="fab fa-line"></i> &ensp;<i class="fab fa-twitter"></i><br>
             address: 長野県長野市XXX<br>
             telephone-number: XXX-XXXX-XXXX<br>
             ©CopyRight Nagano-cake.inc</p>
        </div>
      </div>
    </footer>
  </body>
</html>
